* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container-home {
  margin: 0 10px;
}
.heading {
  font-size: 2.2rem;
  text-transform: capitalize;
  font-weight: bold;
}
.sub-heading {
  font-size: 1.5rem;
}
.btn-primary {
  background-color: black !important;
  color: white !important;
}

.btn-primary:hover {
  background-color: black !important;
}

.our-mission-container {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
  h2 {
    text-align: center;
    margin: 20px;
  }
  .our-mission{
    margin: 20px;
    padding: 20px;
    img {
      height: 500px;
      width: 700px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
