<div class="become-partner-container">
  <h1>We're glad to have you here!</h1>

  <h2>Contact us so you become one of our buddies</h2>

  <h4>Phone: 4444-4444</h4>
  <h4>Email: bestbuddies@gmail.com</h4>
  <h4>Address: Avenida Paulista</h4>
</div>
