<div class="header-fixed">
  <h1>Best Buddies Partners</h1>

<table class="table table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    <% @partners.each do |partner| %>
      <tr>
        <td><%= link_to partner.name, partner_path(partner) %></td>
        <td><%= partner.address %></td>
        <td><%= partner.phone %></td>
        <td><button>View</button></td>
    <% end %>
    </tr>
  </tbody>
</table>
</div>
