<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1542297056134-df64a72eaeb7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
  <div class="container">
    <h1 class="section-title padding-default text-center"><span>B</span>est <span>B</span>uddies</h1>
    <br>
    <p class= "text-center">You're about to meet someone really special.</p>
  </div>
</div>
