<div class="card" style="width: 18rem;">
  <%= image_tag 'https://previews.123rf.com/images/mspoint/mspoint1707/mspoint170700113/82809446-lindo-icono-de-gato-gru%C3%B1%C3%B3n-triste-avatar-de-gato-ilustraci%C3%B3n-vectorial-.jpg' %>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
