<div class="wrapper">
  <div class="box">
    <div class="box-img">
      <%= image_tag 'images/profile.jpg' %>
    </div>
    <div class="box-text">
      <h1>David Sain</h1>
      <p>
        Lorem ipsum dolor,
        sit amet consectetur adipisicing elit.
        Aut, vel.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Vitae placeat possimus, consequatur odit esse quas.
      </p>
      <div class="links">
        <%= link_to '#' , class:'btn btn-blue'%>
        <%= link_to '#' , class:'btn btn-pink'%>
      </div>
    </div>
  </div>
</div>
