<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Company</h4>
        <ul>
          <li><%= link_to 'About us' %></li>
          <li><%= link_to 'FAQ' %></li>
          <li><%= link_to 'Our partners' %></li>
          <li><%= link_to 'Become a partner' %></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Follow us</h4>
        <div class="social-links">
          <a href=""><i class="fab fa-facebook"></i></a>
          <a href=""><i class="fab fa-youtube"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
