<footer class="footer">
  <div class="footer-col">
    <h4>company</h4>
    <ul>
      <li><%= link_to 'about us', about_path %></li>
      <li><%#= link_to 'FAQ' %></li>
      <li><%= link_to 'our partners', partners_path %></li>
      <li><%= link_to 'shelter/rescue' %></li>
    </ul>
  </div>
  <div class="footer-col">
    <h4>follow us</h4>
    <div class="social-links">
      <a href=""><i class="fab fa-facebook"></i></a>
      <a href=""><i class="fab fa-youtube"></i></a>
      <a href=""><i class="fab fa-twitter"></i></a>
      <a href=""><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</footer>
