<main id="site-wrapper">

  <div class=""><style>.major-program{display: inline-block; width: 35%; margin: 25px auto 35px 180px; text-align: center; align-self: baseline;}.major-program img{width: 100%;} .major-program h3{margin: 5px; height: 35px; width: 100% !important}.major-program h3 a{text-decoration: none;}.major-program p{margin: 0; font-size: 15px; text-align: center;}.minor-program .fa{font-size:26px; margin: 0;}.big-image{margin: 0 28px;}.mission-text{margin-bottom:50px}@media (max-width: 620px) {.major-program {width: 100%; margin: 25px 0;}.minor-program{width: auto;}.big-image{margin: 0}.mission-text{margin-bottom:0}}<br /></style>

    <div class="wrapper">
      <h2 style="text-align: center;">About Us</h2>
      <h1 style="text-align: center;">BestBuddies is an organisation with a vision of a future where every pet is safe, respected and loved.</h1>
      <img alt="" src="https://d3e8gm45s78waw.cloudfront.net/uploads/pictures/1346/content_content_12568136_1673172056292773_1332002234_n__1_.jpg" style="width: 1500px; height: 438px; margin: 25px auto 35px 180px;">
      <p dir="ltr" style="text-align: center;"><span style="font-size: 15px;">BestBuddies helps save thousands of lives every month, disrupting the status quo and finding innovative tech solutions to the biggest challenges facing rescue pets.</span></p>
      <p dir="ltr" style="text-align: center; margin: 0;"><span style="font-size: 15px;">We launched BestBuddies pet adoption website to help rescue pets, who may otherwise go unnoticed, find a new family to love for life. Our programs and services help<br> millions of people discover the joy of adopting a new family member and help many rescue organisations (ONG´s) and shelters save the lives of thousands of rescue pets.</span></p>

      <div class="flex">

      <div class="major-program"><img alt="our vision and mission" src="https://d339b5nop2tkmp.cloudfront.net/uploads/pictures/1768/content_vision-tile-about-us-page-.jpg"><p></p>
        <h3>Our vision</h3>
        <p>BestBuddies have a vision of a future where every pet is safe, respected and loved. </p>
      </div>

      <div class="major-program"><img alt="our impact" src="https://d339b5nop2tkmp.cloudfront.net/uploads/pictures/1767/content_impact-tile-about-us-page-toby1.jpg"><p></p>
        <h3>Our impact</h3>
        <p>Thanks to your kind support, we’re able to create positive solutions to the biggest issues and challenges that rescue pets face . </p>
      </div>

      <div class="major-program"><img alt="our team" src="https://d339b5nop2tkmp.cloudfront.net/uploads/pictures/2244/content_Our_Team.jpg">
        <h3>Our Team</h3>
        <p dir="ltr">We’ve created an environment where the best talent in animal welfare, technology and marketing can use their knowledge and expertise for good, and we’re extremely proud of the team that drives our mission today. </p>
      </div>

      <div class="major-program"><img alt="website" src="https://d3e8gm45s78waw.cloudfront.net/uploads/pictures/1343/content_content_our-partners.jpg">
        <h3>Our partners and supporters</h3>
        <p>Building strong relationships with some of biggest brands has enabled us to give rescue pets greater reach and bring more benefits to grassroots community rescue organisations.</p>
      </div>
    </div>
    <div>
      <h3 dir="ltr" style="text-align: center;"><span style="color:#68b403;">Join us, help finding a decent home where every pet is safe, respected and loved. </span></b></h3>
    </div>
  </div>

</main>
