<section class="home" id="home">
    <div class="home__container bd-container bd-grid">
      <%= render "shared/banner" %>
        <div class="home__img">
          <%#= image_tag "Animal-home.png"  %>
        </div>

    </div>
</section>
