<div class="container-home">
  <section class="home" id="home">
      <div class="home__container bd-container bd-grid">
        <%= render "shared/banner" %>
          <div class="home__img">
            <%#= image_tag "Animal-home.png"  %>
          </div>

      </div>
  </section>

  <section class="our-mission-container">
    <h2>Our Mission</h2>
    <div class="our-mission">
      <%= image_tag "https://images.unsplash.com/photo-1568393691622-c7ba131d63b4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80" %>
      <p>We're all about getting homeless pets into homes.
         We use the power of the Internet to connect adopters with shelter pets
         and help pets go from alone to adopted. We're working to help
         the good people at shelters and rescue groups find homes for their pets.</p>
    </div>
  </section>
</div>
