<section class="home" id="home">
    <div class="home__container bd-container bd-grid">
        <div class="home__img">
          <%#= image_tag "Animal-home.png"  %>
        </div>

        <div class="home__data">
            <h1 class="home__title">Best Buddies</h1>
            <p class="home__description">You're about to meet someone really special</p>
        </div>
    </div>
</section>
