 <%= render 'shared/banner' %>

 <h2>How we work</h2>

<div class="new-buddy-process">
  <img src="https://images.unsplash.com/photo-1561037404-61cd46aa615b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
  <div class="text">
    <h3>Found a buddy?</h3>
    <p>If you found a lost buddy on the streets and don't know what to do with it, we are here to help you. <br>
      We know it's a great responsibility, but you can do it. The only thing you have to do is to fill a form with <br>
      your buddy informations and wait untill a partner contact you. <br>
      You are going to leave your buddy in very good hands to be adopted in the future.
    </p>
  </div>
</div>

<div class="adopt-buddy-process">
  <div class="text">
    <h3>Want to adopt a buddy?</h3>
    <p>If you are interested in adopt a buddy, you came to the right place! <br>
      We have mutiple partners around your city that rescued lots of animals and for sure they have your best friend already. <br>
      Once you found that buddy you loved, click in the Adopt button and wait for a call from the Partner, so you guys can proceed <br>
      with the adoption.
    </p>
  </div>
  <img src="https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
</div>

<div class="rescue-buddy-process">
  <img src="https://images.unsplash.com/photo-1534361960057-19889db9621e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
  <div class="text">
    <h3>Want to be one of your partners?</h3>
    <p>If you are a organization created to help little buddies, contact us so we can make you one of our partners. <br>
      Once your account is created we will mail you with the informations and you can start rescuing buddies!
    </p>
  </div>
</div>
