<div class="container mt-5 bg-white">
  <div class="row">
    <div class="col">

      <h1>Thanks for helping us find a home for your buddy!</h1><br>
      <h3>Our partners will get in touch with you soon.</h3><br>
      <h4>Just click on the link below to check out your buddy's profile and edit it if you want.</h4><br>
      <%= link_to "My Buddies", my_animals_path, class:"btn btn-pink"%>

    </div>
  </div>
</div>
