
  <h1 class="m-5 padding-default"><%="Hello, #{current_user.name}. " %></h1>
  <h3 class="m-5"><i class="fas fa-paw"></i> These are all the buddies you've helped.</h3>
  <div class = "container-home ">
    <div class ="row justify-content-center">
      <%= render "shared/grids" %>
    </div> <!--row -->
  </div>
