<div class="container-fluid">
  <div class="col-md-12">
    <div class="row d-flex align-items-center justify-content-center text-center ml-auto">
      <% @animals.each do |animal| %>
        <div class="card m-1" style="width: 18rem;">
          <%= cl_image_tag animal.photos.first %>
          <div class="card-body">
            <h5 class="card-title"><%= animal.name %></h5>
            <p class="card-text">DESCRICAO DO ANIMAL</p>
             <%= link_to 'Detalhes', animal_path(animal), class:"btn btn-primary"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
