
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <%= render "shared/banner" %>

  <div class = "container">

  <div class ="row">
  <%= render "shared/grids" %>


  </div> <!--row -->

  </div>
