
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

  <%= render "shared/banner" %>
<section id="services">
  <div class="service-bottom">

      <%= render "shared/grids" %>
    
  </div>
</div>
</section>