
  <%= render "shared/banner" %>
<section id="services">
  <div class="service-bottom">
  <section id="services">
    <div class = "service-bottom">
      <div class ="row justify-content-center">
        <%= render "shared/grids" %>
      </div>
    </div>
  </section>
