@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*STANDARD*/

.btn {
  text-decoration: none;
  padding: 30px, 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  position: relative;
  margin: 8px;
}

/*DEFAULT-BUTTONS*/

.btn-blue {
  background: #69b6f0;
  border-color: #69b6f0;
  color: #fff;
  padding: 12px 32px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
  overflow: hidden;
  position: relative;
  transition: all .3s ease;
}

.btn-blue:hover {
	background: #69b6f0;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.btn-green {
  background: #57CC99;
  border-color: #57CC99;
  color: #fff;
  padding: 12px 32px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
  overflow: hidden;
  position: relative;
  transition: all .3s ease;
}

.btn-green:hover {
  background: #57CC99;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.btn-pink {
  background: #FD6F96;
  border-color: #FD6F96;
  color: #fff;
  padding: 12px 32px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
  overflow: hidden;
  position: relative;
  transition: all .3s ease;
}

.btn-pink:hover {
  background: #FD6F96;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.btn-orange {
  background: #FFB344;
  border-color: #FFB344;
  color: #fff;
  padding: 12px 32px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
  overflow: hidden;
  position: relative;
  transition: all .3s ease;
}

.btn-orange:hover {
  background: #FFB344;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

.btn-red {
  background: #ed3330;
  border-color: #ed3330;
  color: #fff;
  padding: 12px 32px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-weight: 700;
  box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
  overflow: hidden;
  position: relative;
  transition: all .3s ease;
}

.btn-red:hover {
  background: #ed3330;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

/*CUSTOMBUTTONS*/

.btn-def_a{
  color: #fff;
	text-transform: capitalize;
	text-decoration: none;
	background: #ed3330;
	padding: 15px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.btn-def_a:hover {
	background: #ed3330;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.btn-def_b{
  color: #fff;
	text-transform: capitalize;
	text-decoration: none;
	background: #64C9CF;
	padding: 15px 45px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.btn-def_b:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.btn-def_c{
	color: #494949;
	text-transform: capitalize;
	text-decoration: none;
	background: #ffffff;
	padding: 8px 32px;
	border: 4px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

.btn-def_c:hover{
  color: #ffffff !important;
	background: #FFB319;
	border-color: #FFB319 !important;
	transition: all 0.4s ease 0s;
}

.btn-def_d{

	color: #20bf6b !important;
	text-transform: uppercase;
	background: #ffffff;
	padding: 20px;
	border: 4px solid #20bf6b !important;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.btn-def_d:hover{
  color: #494949 !important;
	border-radius: 50px;
	border-color: #494949 !important;
	transition: all 0.3s ease 0s;
}


.btn-def_e{
  border: none;
	background: #404040;
	color: #ffffff !important;
	font-weight: 100;
	padding: 20px;
	text-transform: capitalize;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.btn-def_e:hover {
	color: #404040 !important;
	font-weight: 700 !important;
	letter-spacing: 3px;
	background: none;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
}
