#bg-image-cat {
  height: 100vh;
  background-image: image-url('form-cat-bg.jpg');
  background-size: cover;
  background-position: center;
}

#bg-image-dog {
  height: 100vh;
  background-image: image-url('form-dog-bg.jpg');
  background-size: cover;
  background-position: center;
}
.form-title {
  font-size: 2.5rem;
  color: crimson;
  display: block;
  font-weight: bold;
}
